/*

HERE IS WHERE THE BODY STYLING STARTS

*/

body {
    background-color: #ccc;
    
}

.container {
    /* margin-top: 0; */
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5%;
    padding: .5em 2em;
}

section {
    float: left;
    width: 800PX;
    padding-bottom: 1.5em;
}

ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    font-family: 'Montez', cursive;
    color: rgb(41, 64, 124);
    font-weight: lighter;
    font-size: xx-large;
    a:hover {
        color: rgb(208, 133, 4);
    }
}

td, th {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}
form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
.margin_top_increase {
	margin-top: 1em;	
}




