/*

HERE IS WHERE THE BODY STYLING STARTS

*/

  body {
    background-image: url("image_uploads/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    background-position: center;
    background-size: cover;
  }

.container {
    /* margin-top: 0; */
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: .5em 2em;
}

section {
    float: left;
    width: 800PX;
    padding-bottom: 1.5em;
}

.loginmessage
{
 background-color: #4CAF50;
 padding: 10px;
 color : white;
 margin-bottom: 20px;
 margin-right: 130px;
 margin-left: 130px;
 text-align: center;
}

ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 64, 124);
    font-weight: lighter;
    font-size: 20px;
    a:hover {
        color: rgb(208, 133, 4);
    }
}

form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
.margin_top_increase {
	margin-top: 1em;	
}



//display tables on the entire website 
#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4b4949;
    color: white;
  }
  
 