/*

HERE IS WHERE THE CATEGORYLIST STYLING STARTS

*/
#addcoffee-heading
{
        text-align: center;
        font-size: x-large;
        font-family: 'Orbitron', sans-serif;
    
}

#categorylist-heading
{
        text-align: center;
        font-family: 'Orbitron', sans-serif;
    
}

#delete_product_form
{
    align-self: center;
}

#th {
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}