/*

HERE IS WHERE THE HEADER STYLING STARTS

*/


header {
    margin: 0;
    background-color: white;
    h1 {
        // font-family: 'Lobster Two', cursive;
        font-family: 'Orbitron', sans-serif;
        font-size:50px;
        margin: 0;
        padding: .5em 0;
        color: black;
        text-align: center;
    }
}
