/*

HERE IS WHERE THE HEADER STYLING STARTS

*/


header {
    margin: 0;
    background-color: white;
    h1 {
        font-family:'Times New Roman', Times, serif;
        font-size:60px;
        margin: 0;
        padding: .5em 0;
        color: black;
        text-align: center;
    }
}
