/*

HERE IS WHERE THE LOGIN STYLING STARTS

*/
#email
{
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#username 
{
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#password 
{
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login-heading
{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#loginbutton
{
    background-color: rgb(164, 165, 164);
    
}

#form
{
    text-align: center;
}