/*

HERE IS WHERE THE BODY STYLING STARTS

*/
body {
  background-image: url("image_uploads/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
  background-position: center;
  background-size: cover;
}

.container {
  /* margin-top: 0; */
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: .5em 2em;
}

section {
  float: left;
  width: 800PX;
  padding-bottom: 1.5em;
}

.loginmessage {
  background-color: #4CAF50;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  margin-right: 130px;
  margin-left: 130px;
  text-align: center;
}

ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.5em;
}

li {
  margin: 0;
  padding: 0;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: #29407c;
  font-weight: lighter;
  font-size: 20px;
}

a a:hover {
  color: #d08504;
}

form {
  margin: 0;
}

br {
  clear: left;
}

/* the styles for classes */
.right {
  text-align: right;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/*

HERE IS WHERE THE HEADER STYLING STARTS

*/
header {
  margin: 0;
  background-color: white;
}

header h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  margin: 0;
  padding: .5em 0;
  color: black;
  text-align: center;
}

/*

HERE IS WHERE THE NAVBAR STYLING STARTS

*/
/* Style the topnav navigation bar */
.navbar {
  width: 100%;
  display: inline-block;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .useraccess a {
    float: right;
    display: block;
  }
}

/*

HERE IS WHERE THE USER ACCESS STYLING STARTS

*/
.useraccess {
  float: right;
}

.useraccess a {
  text-align: right;
  margin: 0;
  padding: .5em 0;
  display: inline-flex;
  color: black;
  text-decoration: none;
  font-size: 150%;
  /* Navbar links on mouse-over */
}

.useraccess a a:hover {
  background-color: #000;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .useraccess a {
    float: right;
    display: block;
  }
}

/*

HERE IS WHERE THE ADMIN ACCESS STYLING STARTS

*/
/* Style the topnav navigation bar */
.adminaccess {
  width: 100%;
  overflow: auto;
  /* Navbar links */
}

.adminaccess a {
  float: left;
  text-align: left;
  margin: 0;
  padding: .5em 0;
  color: black;
  text-decoration: none;
  font-size: 150%;
  /* Navbar links on mouse-over */
}

.adminaccess a a:hover {
  background-color: #000;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .adminaccess a {
    float: left;
    display: block;
  }
}

/*

HERE IS WHERE THE FORMS STYLING STARTS

*/
/********************************************************************
* Additional styles for the record Manager application
********************************************************************/
#add_record_form {
  margin: .5em 0 1em;
}

#add_record_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: .5em;
  float: left;
}

#add_record_form input {
  float: left;
}

#add_record_form input input[text] {
  width: 15em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*

HERE IS WHERE THE VARIABLES STYLING STARTS

*/
/*

HERE IS WHERE THE FONTS STYLING STARTS

*/
h1, h2 {
  color: #333;
}

h1 h1, h2 h1 {
  font-size: 150%;
  margin: 0;
  padding: .5em 0 .25em;
}

h1 h2, h2 h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
}

/*

HERE IS WHERE THE SIDEBAR STYLING STARTS

*/
aside {
  float: left;
  width: 150px;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

nav ul li {
  padding-bottom: 0.5em;
}

/*

HERE IS WHERE THE FOOTER STYLING STARTS

*/
footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid black;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}
/*# sourceMappingURL=mystyle.css.map */