/*

HERE IS WHERE THE BODY STYLING STARTS

*/
body {
  background-color: #ccc;
}

body div {
  background-image: url("image_uploads/background.jpg");
}

.container {
  /* margin-top: 0; */
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5%;
  padding: .5em 2em;
}

section {
  float: left;
  width: 800PX;
  padding-bottom: 1.5em;
}

ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.5em;
}

li {
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Montez', cursive;
  color: #29407c;
  font-weight: lighter;
  font-size: 32px;
}

a a:hover {
  color: #d08504;
}

td, th {
  font-family: 'Dancing Script', cursive;
  font-size: x-large;
  padding: .2em .5em .2em .5em;
  vertical-align: top;
  text-align: left;
}

form {
  margin: 0;
}

br {
  clear: left;
}

/* the styles for classes */
.right {
  text-align: right;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

/*

HERE IS WHERE THE HEADER STYLING STARTS

*/
header {
  margin: 0;
  background-color: white;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  margin: 0;
  padding: .5em 0;
  color: black;
  text-align: center;
}

/*

HERE IS WHERE THE TOPNAVBAR STYLING STARTS

*/
/* Style the topnav navigation bar */
.navbar {
  width: 100%;
  background-color: #080808;
  overflow: auto;
  /* Navbar links */
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: lavenderblush;
  text-decoration: none;
  font-size: 150%;
  /* Navbar links on mouse-over */
}

.navbar a a:hover {
  background-color: #000;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/*

HERE IS WHERE THE FORMS STYLING STARTS

*/
/********************************************************************
* Additional styles for the record Manager application
********************************************************************/
#add_record_form {
  margin: .5em 0 1em;
}

#add_record_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: .5em;
  float: left;
}

#add_record_form input {
  float: left;
}

#add_record_form input input[text] {
  width: 15em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*

HERE IS WHERE THE VARIABLES STYLING STARTS

*/
/*

HERE IS WHERE THE LOGIN STYLING STARTS

*/
#email {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#username {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#password {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login-heading {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#loginbutton {
  background-color: #a4a5a4;
}

#form {
  text-align: center;
}

/*

HERE IS WHERE THE REGISTER STYLING STARTS

*/
#email {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#username {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#password {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#register-heading {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#registerbutton {
  background-color: #a4a5a4;
}

#form {
  text-align: center;
}

/*

HERE IS WHERE THE CONTACT FORM STYLING STARTS

*/
#contactform {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

#contact-heading {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#username {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#phone {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#address {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#zip {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#email {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#message {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#submitbutton {
  background-color: #1cac1c;
}

/*

HERE IS WHERE THE USER LIST STYLING STARTS

*/
#userlist-heading {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#deletebutton {
  background-color: red;
}

/*

HERE IS WHERE THE CATEGORYLIST STYLING STARTS

*/
#addcoffee-heading {
  text-align: center;
  font-size: x-large;
  font-family: 'Orbitron', sans-serif;
}

#categorylist-heading {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#deletebutton {
  background-color: red;
}

#delete_product_form {
  align-self: center;
}

#add_category_button {
  background-color: greenyellow;
  text-align: center;
}

#th {
  font-family: 'Dancing Script', cursive;
  font-size: x-large;
  padding: .2em .5em .2em .5em;
  vertical-align: top;
  text-align: left;
}

/*

HERE IS WHERE THE ADD RECORD FORM STYLING STARTS

*/
#addrecord-heading {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#CountryofOriginid {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#name {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Description {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#price {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#addbutton {
  background-color: #1cac1c;
}

/*

HERE IS WHERE THE EDIT RECORD FORM STYLING STARTS

*/
#editrecord-heading {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#CountryofOriginid {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#name {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Description {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#price {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#savechangesbutton {
  background-color: #1cac1c;
}

/*

HERE IS WHERE THE FONTS STYLING STARTS

*/
h1, h2 {
  color: #333;
}

h1 h1, h2 h1 {
  font-size: 150%;
  margin: 0;
  padding: .5em 0 .25em;
}

h1 h2, h2 h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
}

/*

HERE IS WHERE THE SIDEBAR STYLING STARTS

*/
aside {
  float: left;
  width: 150px;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

nav ul li {
  padding-bottom: 0.5em;
}

/*

HERE IS WHERE THE FOOTER STYLING STARTS

*/
footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid black;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}
/*# sourceMappingURL=mystyle.css.map */